<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsReservaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsReservaSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44304/wsReserva.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsReservaSoap" contract="UServicio.wsReservaSoap"
                name="wsReservaSoap" />
        </client>
    </system.serviceModel>
</configuration>